<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Catálogo de Videojuegos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Header -->
    <%- include('partials/header') %>
  </head>
  <body>
    <!-- Contenedor principal del catálogo -->
    <div class="container">
      <h1>Catálogo de Videojuegos</h1>
      <ul class="catalogo">
        <% videojuegos.forEach(videojuego => { %>
        <li>
          <img src="<%= videojuego.imagen %>" alt="<%= videojuego.titulo %>" />
          <a href="/videojuegos/<%= videojuego.id %>"
            ><%= videojuego.titulo %></a
          >
          <p><%= videojuego.descripcion %></p>
        </li>
        <% }) %>
      </ul>
      <a href="/" class="button">Volver al Inicio</a>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
